<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jzab.oj.mapper.QuestionbankMapper">

    <resultMap id="BaseResultMap" type="xyz.jzab.oj.model.entity.Questionbank">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
            <result property="courseId" column="courseId" jdbcType="INTEGER"/>
            <result property="teacherId" column="teacherId" jdbcType="INTEGER"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="createUser" column="createUser" jdbcType="INTEGER"/>
            <result property="updateUser" column="updateUser" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,introduce,
        courseId,teacherId,isDelete,
        createUser,updateUser,createTime,
        updateTime
    </sql>
</mapper>
