<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jzab.oj.mapper.StuexamrecordMapper">

    <resultMap id="BaseResultMap" type="xyz.jzab.oj.model.entity.Stuexamrecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="stuId" column="stuId" jdbcType="INTEGER"/>
            <result property="examId" column="examId" jdbcType="INTEGER"/>
            <result property="answerList" column="answerList" jdbcType="VARCHAR" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="createUser" column="createUser" jdbcType="INTEGER"/>
            <result property="updateUser" column="updateUser" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stuId,examId,
        answerList,score,isDelete,
        createUser,updateUser,createTime,
        updateTime
    </sql>
</mapper>
